<h1>Legless Pets</h1>

<div class="hero">
  <%#= image_tag("hero.jpg", alt: "Pretty snakes") %>
</div>

<p>Find your dream snake</p>

<%= link_to('View Breeds', breeds_path) %>
<%= link_to('View Listings', listings_path)%>
<%= link_to('New Listing', new_listing_path) %>
